<footer>
  <nav>
    <!-- <a href="/feed.xml" aria-label="RSS feed" class="nav__link">RSS</a> -->
    <a href="//github.com/vinaynb" aria-label="Vinay in GitHub" class="nav__link">GitHub</a>
    <a href="//twitter.com/vinayn_b" aria-label="Vinay in Twitter" class="nav__link">Twitter</a>
    <a href="/" aria-label="Go to home" class="nav__link nav__link--home">vinaybhinde.in</a>
  </nav>
</footer>
